{% extends 'layout.html' %}

{% block body %}
<!-- imgvec has-> owner,imgname,imgfeaturevector  -->
    {% if block==None %}
        <h3> Eklemek istediğiniz tasarıma benzeyen başka tasarım bulunmaktadır. </h3>
        <p>Benzeyen Görüntü:</p>
        <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                src="{{url_for('static', filename='images/'+similarimgname+'.jpg')}}" preserveAspectRatio="xMidYMid slice">
    
             
            </div>
          </div>
        <a type="button" href="/" class="btn btn-danger">Geri Dön</a>
    {%else %}
    <div class="col">
        <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
            src="{{url_for('static', filename='images/'+block['blockdata'].imgname+'.jpg')}}" preserveAspectRatio="xMidYMid slice">

          <div class="card-body">
            <p class="card-text"><p>Kullanıcı Adı: {{ block['blockdata'].owner |upper |safe}} </p> <p>Pre-Block Hash:  {{block['preheader_hash']}}</p><p>Block Hash: {{hash(block)}} </p>  </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a download="custom-filename.jpg" type="button" class="btn btn-sm btn-outline-secondary">İndir</a>
                <a download="{{url_for('static', filename='images/'+block['blockdata'].imgname+'.jpg')}}"
                  href="{{url_for('static', filename='images/'+block['blockdata'].imgname+'.jpg')}}">

                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    {%endif %}
    <a type="button" href="/" class="btn btn-primary">Geri Dön</a>
    <a type="button" href="/" class="btn btn-primary">Zinciri Görüntüle</a>

   
{% endblock %}
